<div id="animacion">
  <div id="Nombre">NOMBRE ESPECIALISTA</div>
  <div id="campoFoto"><img id="campoImagen" src="data:image/png;base64," /></div>
  <hr>
  <div class="IdNombreTecnicah">
    <div class="headers">ID Especialista</div>
    <div class="headers">Celular</div>
    <div class="headers">Tecnica</div>
  </div>
  <div class="IdNombreTecnicav">
    <label class="campos"> 1019133038</label>
    <label class="campos"> 3014659192 </label>
    <label class="campos"> VFD </label>
  </div>
  <hr>
<div class="FechaCecoGidh">
  <div class="headers"> Fecha Nacimiento </div>
  <div class="headers"> CeCo </div>
  <div class="headers"> GID </div>
</div>
<div class="FechaCecoGidv">
  <label class="campos"> 1990-03-21 </label>
  <label class="campos"> FC 453 </label>
  <label class="campos"> Z0040TAH9 </label>
</div>
<hr>
<div class="CelularLugarTarjetah">
  <div class="headers"> Cedula Ciudadania </div>
  <div class="headers"> Lugar Expedicion C.C. </div>
  <div class="headers"> Tarjeta Ingreso Argos </div>
</div>
<div class="CelularLugarTarjetav">
  <label class="campos"> 1990-03-21 </label>
  <label class="campos"> FC 453 </label>
  <label class="campos"> Z0040TAH9 </label>
</div>
<hr>
</div>