<div id="animacion">
  <div id="Nombre">JHON MILTON - VFD</div>
  <div id="campoFoto"><img id="campoImagen" src="https://image.flaticon.com/icons/png/512/64/64096.png" /></div>

  <div id="fila1">
    <hr>
    <div class="IdCelularCedulaLugarh">
      <div class="headers"> ID Especialista </div>
      <div class="headers"> Celular </div>
      <div class="headers"> Cedula Ciudadania </div>
      <div class="headers"> Lugar Expedicion C.C. </div>
    </div>
    <div class="IdCelularCedulaLugarv">
      <label class="campos"> 10181193</label>
      <label class="campos"> 3014659192 </label>
      <label class="campos"> 1019766890 </label>
      <label class="campos"> Bogota </label>
    </div>
  </div>
  <hr>
  <div id="fila2">
    <div class="FechaCecoGidTarjetah">
      <div class="headers"> Fecha Nacimiento </div>
      <div class="headers"> CeCo </div>
      <div class="headers"> GID </div>
      <div class="headers"> Tarjeta Ingreso Argos </div>
    </div>
    <div class="FechaCecoGidTarjetav">
      <label class="campos"> 1980-03-20 </label>
      <label class="campos"> 1016377 </label>
      <label class="campos"> Z0040TAK </label>
      <label class="campos"> FC 5 678 </label>
    </div>
    <hr>
  </div>
  <button routerLink='' id="volver">Volver</button><br>
</div>
