 <div id="titulo">Ocupacion Field Service</div>
 <div class="alineacion">
   <circle-progress [subtitle]="'FIELD SERVICE'" [percent]="60" [radius]="80" [outerStrokeWidth]="16"
     [innerStrokeWidth]="8" [outerStrokeColor]="'#009999'" [innerStrokeColor]="'lightgray'" [animation]="true"
     [animationDuration]="400" [subtitleFontSize]='16' [unitsFontSize]='22' [titleFontSize]='25'>
   </circle-progress>
   <circle-progress [subtitle]="'VFD'" [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
     [outerStrokeColor]="'#009999'" [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="400"
     [subtitleFontSize]='20' [unitsFontSize]='22' [titleFontSize]='25'>
   </circle-progress>
   <circle-progress [subtitle]="'BT'" [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
     [outerStrokeColor]="'#009999'" [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="400"
     [subtitleFontSize]='20' [unitsFontSize]='22' [titleFontSize]='25'>
   </circle-progress>
 </div>
 <div class="alineacion">
   <circle-progress [subtitle]="'AUT'" [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
     [outerStrokeColor]="'#009999'" [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="400"
     [subtitleFontSize]='20' [unitsFontSize]='22' [titleFontSize]='25'>
   </circle-progress>
   <circle-progress [subtitle]="'AOS'" [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
     [outerStrokeColor]="'#009999'" [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="400"
     [subtitleFontSize]='20' [unitsFontSize]='22' [titleFontSize]='25'>
   </circle-progress>
   <circle-progress [subtitle]="'MOT'" [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
     [outerStrokeColor]="'#009999'" [innerStrokeColor]="'lightgray'" [animation]="true" [animationDuration]="400"
     [subtitleFontSize]='20' [unitsFontSize]='22' [titleFontSize]='25'>
   </circle-progress>
 </div>
 <a href="/cronograma#popup1"><button id="cronograma">Volver Al Cronograma</button></a>
