#animacion {
  animation-name: deslizar;
  animation-duration: 0.4s;
}

@keyframes deslizar {
  from {
    width: 30%
  }

  to {
    width: 100%
  }
}

.combo {
  height: 30px;
  width: 80%;
  background-color: white;
  border: ridge 1.1px #0F1923;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  align-content: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.espacioCombo {
  display: flex;
  margin-left: 10%;
}

#titulo {
  font-size: 22px;
  font-weight: 600;
  align-content: center;
  margin-left: 30%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#infoCliente {
  margin-left: 10%;
  margin-right: 18%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.headerCliente {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#nCliente {
  height: 20px;
  width: 80%;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerPlanta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#nPlanta {
  height: 20px;
  width: 80%;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerCombo {
  margin-left: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#headerFechas {
  text-align: center;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fechas {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#fechaI:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

#fechaI:focus:before,
#fechaI:valid:before {
  content: "";
}

#fechaF:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

#fechaF:focus:before,
#fechaF:valid:before {
  content: "";
}


.estiloFechas {
  width: 200px;
  height: 30px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.estiloFechas:hover {
  border: 2px inset whitesmoke;
  border-radius: 10px;
}

.estiloFechas::-webkit-clear-button {
  display: none;
}

.estiloFechas::-webkit-inner-spin-button {
  display: none;
}

#infoContacto {
  margin-top: 6%;
  margin-left: 10%;
  margin-right: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77.5%;
}

#name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#nContacto {
  height: 30px;
  width: 130%;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cel {
  margin-left: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#tContacto {
  height: 30px;
  width: 80%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#descripcion {
  margin-top: 5%;
  margin-left: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#desc {
  width: 79%;
  height: 60px;
}

#labelSitio {
  margin-top: 5%;
  margin-left: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
}

#ubicacion {
  font-style: italic;
}

#botones {
  display: flex;
  margin-right: 10%;
  margin-left: 5%;
}

#enviar {
  margin-top: 5%;
  margin-left: 5%;
  width: 50%;
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  border: ridge 1.4px #0F1923;
  cursor: pointer;
}

#enviar:hover {
  color: white;
  background-color: #0F1923;
  border: ridge 1.1px #0F1923;
}

#cancelar {
  margin-top: 5%;
  margin-left: 5%;
  width: 50%;
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  border: ridge 1.4px #0F1923;
  cursor: pointer;
}

#cancelar:hover {
  color: white;
  background-color: #0F1923;
  border: ridge 1.1px #0F1923;
}
