body {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 50%;
  margin: 0;
}

:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

div {
  width: 40%;
}

#barraNavegacion{
  padding: 0;
  margin: 0;
  height: 100%;
  float: left;
  width: 100%;
}

#creacion{
  padding-top: 8px;
  height: 8%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
}

#home{
  margin-left: 2%;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  outline: none;
  color:darkgray;
}

#home:hover{
  color: #009999;
  font: bold;
}

#creacion a:link {
  text-decoration: none;
  color: #009999;
}

#creacion a:visited {
  text-decoration: none;
  color: #009999;
}

#creacion a:hover {
  text-decoration: none;
  color:white;
}

a .btnNavbar {
  height:40px;
  width: 160%;
  color: #009999; 
  background-color: white;
  border: ridge 1.1px #0F1923;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}


a .btnNavbar:hover {
  color: white;
  background-color: #009999;
  border: ridge 1.1px #009999;    
}



