<!-- The content below is only a placeholder and can be replaced. -->
<!-- <div class="title">
  <h1>
    Welcome to
    <a href="https://developers.arcgis.com/javascript/">
      ArcGIS API for JavaScript
    </a>
    using
    <a href="https://github.com/Esri/esri-loader" target="_blank">
      esri-loader
    </a>
    with . . .
  </h1>
  <img width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<app-esri-map [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel"
  (mapLoadedEvent)="mapLoadedEvent($event)">
</app-esri-map>
<div>
  <div id=barraNavegacion>
    <div id="creacion">
      <i class="fas fa-home" id="home" routerLink=''></i>
      <a routerLink='/formularioEspecialista'><button type="button" class="btnNavbar">+ Especialista</button></a>
      <a routerLink='/formularioAsignacion'><button type="button" class="btnNavbar">+ Asignacion</button></a>
      <a href="#popup1"><button type="button" class="btnNavbar">Cronograma</button></a>
    </div>
    <div id="popup1" class="overlay">
      <div class="popup">
        <h1 id="titulo">Cronograma Asignaciones</h1>
        
        <div id="tablas">
          <table class="tablaEspecialistas">
            <tr id="tituloTablaE">
              <th>Especialista</th>
            </tr>
            <!-- <tr *ngFor="let especialista of resultados"><td>{{especialista.NombreE}}</td></tr> -->
            <tr>
              <td>Especialista 1</td>
            </tr>
            <tr>
              <td>Especialista 2</td>
            </tr>
            <tr>
              <td>Especialista 3</td>
            </tr>
            <tr>
              <td>Especialista 4</td>
            </tr>
          </table>
          <table class="tablaAsignaciones">
            <tr id="tituloTablaA">
              <th>01</th>
              <th>02</th>
              <th>03</th>
              <th>04</th>
              <th>05</th>
              <th>06</th>
              <th>07</th>
              <th>08</th>
              <th>09</th>
              <th>10</th>
              <th>11</th>
              <th>12</th>
              <th>13</th>
              <th>14</th>
              <th>15</th>
              <th>16</th>
              <th>17</th>
              <th>18</th>
              <th>19</th>
              <th>20</th>
              <th>21</th>
              <th>22</th>
              <th>23</th>
              <th>24</th>
              <th>25</th>
              <th>26</th>
              <th>27</th>
              <th>28</th>
              <th>29</th>
              <th>30</th>
              <th>31</th>
            </tr>
            <tr>
              <td style="background-color: green; height: 19px; opacity: 0.6;"></td>
              <td style="background-color: blue; height: 19px; opacity: 0.6;"></td>
            </tr>
            <tr>
              <td style="background-color: green; height: 19px; opacity: 0.6;"></td>
              <td style="background-color: blue; height: 19px; opacity: 0.6;"></td>
            </tr>
            <tr>
              <td style="background-color: green; height: 19px; opacity: 0.6;"></td>
              <td style="background-color: blue; height: 19px; opacity: 0.6;"></td>
            </tr>
            <tr>
                <td style="background-color: green; height: 19px; opacity: 0.6;"></td>
                <td style="background-color: blue; height: 19px; opacity: 0.6;"></td>
              </tr>
          </table>
        </div>
        <a class="close" href="#">&times;</a>
        <div class="content">
        </div>
      </div>
    </div>
    <hr>
    <router-outlet></router-outlet>
  </div>
