<div id="animacion">
<div id="tituloAE">ASIGNACIONES ELIMINADAS</div>
  <table id="tablaAsignacionesEliminadas">
    <tr id="headersTablaA">
      <th class="borde">Fecha Inicio</th>
      <th class="borde">Fecha Final </th>
      <th class="borde">Lugar Servicio</th>
      <th class="borde">Sujeto Cancelacion</th>
      <th class="borde">Razon Cancelacion</th>
    </tr>
    <!-- <tr *ngFor="let especialista of resultados">
      <td class="filas"></td>
    </tr> -->
    <tr>
        <td class="filas">2019-05-10</td>
        <td class="filas">2019-05-10</td>
        <td class="filas">La Cabala</td>
        <td class="filas">Andres Felipe Rojas Suarez</td>
        <td class="filas">No se necesita mas mantenimiento</td>
    </tr>
  </table>
  <a href="/cronograma#popup1"><input type="button" id="volver" value="Volver Al Cronograma" /></a>
</div>
